{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доски</title>
    <!-- Подключение файла стилей -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/boards_menu_style.css' %}">
</head>
<body>
    <div class="main">
        <header>
            <div class="header-left">
                <p>Laxpa</p>
            </div>
        </header>
        <div class="top-menu">
            <nav class="navigation-menu">
                <ul>
                    <li><a href="{% url 'boards' %}">Доски</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </nav>
            <div class="login-buttons">
                {% if user.is_authenticated %}
                    <p>Добро пожаловать, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <div class="login-buttons">
                        <a href="{% url 'register' %}" class="register-button">Регистрация</a>
                        <a href="{% url 'login' %}" class="auth-button">Авторизация</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class = "mini-menu">
            <button class="create-board" onclick="openCreateBoardModal()">Создать +</button>
            <!-- Модальное окно для создания новой доски -->
            <div id="createBoardModal" style="display: none;">
                <form id="createBoardForm" method="post" action="{% url 'create_board' %}">
                    {% csrf_token %}
                    <label for="title">Название:</label>
                    <input type="text" id="title" name="title" required><br>

                    <label for="description">Описание:</label>
                    <textarea id="description" name="description"></textarea><br>

                    <label for="due_date">Крайний срок:</label>
                    <input type="date" id="due_date" name="due_date"><br>

                    <button type="submit">Создать доску</button>
                </form>
            </div>

            <script>
                function openCreateBoardModal() {
                    document.getElementById('createBoardModal').style.display = 'block';
                }
            </script>
        </div>
        <h1 style="text-align: center;">Мои доски</h1>
        <div class="board-grid">
            {% for board in boards %}
            <div class="board-item">
                <h3>{{ board.title }}</h3>
                <p>{{ board.description }}</p>
                <p>Срок: {{ board.due_date }}</p>
                <a href="{% url 'view_board' board.id %}">Открыть</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
