{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доски</title>
    <!-- Подключение файла стилей -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/boards_menu_style.css' %}">
</head>
<body>
    <div class="main">
        <header>
            <div class="header-left">
                <p>Laxpa</p>
            </div>
        </header>
        <div class="top-menu">
            <nav class="navigation-menu">
                <ul>
                    <li><a href="{% url 'boards' %}">Доски</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </nav>
            <div class="login-buttons">
                {% if user.is_authenticated %}
                    <p>Добро пожаловать, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <div class="login-buttons">
                        <a href="{% url 'register' %}" class="register-button">Регистрация</a>
                        <a href="{% url 'login' %}" class="auth-button">Авторизация</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <h1>Список досок:</h1>
        {% for category, products in products_by_category.items %}
        <section class="products-block">
            <h2 class="product-category-name">{{ category|title }}</h2>
            <div class="product-cards">
                {% for product in products %} 
                <article class="product-card">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="price">Цена: {{ product.price }} ₽</p>
                    <button>Выбрать</button>
                </article>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </div>
</body>
</html>
