{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ааааааааа</title>
    <!-- Подключение файла стилей -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main">
        <header>
            <div class="header-left">
                <p>Сеть №1 в России</p>
            </div>
        </header>
        <div class="top-menu">
            <nav class="navigation-menu">
                <ul>
                    <li><a href="#">Пиццы</a></li>
                    <li><a href="#">Закуски</a></li>
                    <li><a href="#">Десерты</a></li>
                    <li><a href="#">Напитки</a></li>
                    <li><a href="#">Акции</a></li>
                </ul>
            </nav>
            <div class="basket">
                <button class="basket-button">Корзина</button>
            </div>
        </div>
        <h1>Список товаров</h1>
    </div>
</body>
</html>
