{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ааааааааа</title>
    <!-- Подключение файла стилей -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main">
        <header>
            <div class="header-left">
                <p>Laxpa</p>
            </div>
        </header>
        <div class="top-menu">
            <nav class="navigation-menu">
                <ul>
                    <li><a href="#">Доски</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </nav>
            <div class="login-buttons">
                {% if user.is_authenticated %}
                    <p>Добро пожаловать, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <div class="login-buttons">
                        <a href="{% url 'register' %}" class="register-button">Регистрация</a>
                        <a href="{% url 'login' %}" class="auth-button">Авторизация</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <h1>Список задач:</h1>
    </div>
</body>
</html>
