{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/register_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h2>Регистрация</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="register-btn">Зарегистрироваться</button>
            </form>
            <p class="login-link">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
</body>
</html>
